html, body {
  width: 100%;
  height: 100%;
  /* background: #f3f3f3; */
  background-color: #eaeaea !important;
}
html, body, div, span, header, ul, li, h1, h2, h3, h4, h5, input,
a, p {
  padding: 0;
  margin: 0;
  list-style: none;
  font-weight: 400;
  box-sizing: border-box;
  border: none;
  /* font-size: 0.26rem; */
  font-size:62.5%
}

.flex {
  display: flex;
}

#app .weui-tabbar {
  position: fixed;
}

#header {
  width: 100%;
  background-color: #FF0000 !important;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 999999;
  /* border-bottom: 1px solid #dcdcdc; */
}

#header .vux-header-title {
  color: #fff;
}

#header .vux-header-left a, .vux-header .vux-header-left button, .vux-header .vux-header-right a, .vux-header .vux-header-right button {
  color: #333;
}
#header .vux-header-left .left-arrow:before {
  border: 1px solid #9c9c9c;
  border-width: 1px 0 0 1px;
}

.weui-btn + .weui-btn {
  margin-top: 0 !important;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.pa {
  position: absolute;
}

.pr {
  position: relative;
}

.pf {
  position: fixed;
}

.icon {
  /* width: 1em;  */
  /* height: 1em; */
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
