.vux-header .vux-header-left, .vux-header .vux-header-right {
  top: 8px !important;
  color: #fff !important;
}

.overwrite-title-demo {
  margin-top: 5px;
}

.modle-wrap {
  background-color: #35495E;
  color: #fff;
  padding: 1rem;
  top: 47px;
  right: 0;
  z-index: 99999;
}

.modle-wrap li {
  margin-bottom: 0.5rem;
}

.modle-wrap li svg, svg {
  vertical-align:middle;
}

.style{
    width: 2em;
    height: 2em;
    vertical-align: -0.15em;
    fill: #bfcbd9;
    overflow: hidden;
}

.natTOp {
  top: 47px;
  width: 100%;
}

.natTOp1 {
  top: 160px;
  width: 100%;
}

.org .vux-popup-picker-select {
  text-align: center !important;
}

.vux-tab .vux-tab-item.vux-tab-selected {
  color: #FF0000 !important;
  /* border-bottom: 3px solid  #FF0000 !important; */
  border-bottom: none 0;
}

.vux-tab-ink-bar {
  /* background-color: #FF0000 !important; */
  background-color: transparent !important;
}

.style{
  width: 2em;
  height: 2em;
  vertical-align: -0.15em;
  fill: #bfcbd9;
  overflow: hidden;
}

.weui-tabbar__item.weui-bar__item_on .weui-tabbar__icon, .weui-tabbar__item.weui-bar__item_on .weui-tabbar__icon > i, .weui-tabbar__item.weui-bar__item_on .weui-tabbar__label {
  color: #FF0000 !important;
}
