.vux-header .vux-header-left, .vux-header .vux-header-right {
  top: 8px !important;
  color: #fff !important;
}

.overwrite-title-demo {
  margin-top: 5px;
}

.modle-wrap {
  background-color: #35495E;
  color: #fff;
  padding: 1rem;
  top: 47px;
  right: 0;
  z-index: 99999;
}

.modle-wrap li {
  margin-bottom: 0.5rem;
}

.modle-wrap li svg, svg {
  vertical-align:middle;
}

.style{
    width: 2em;
    height: 2em;
    vertical-align: -0.15em;
    fill: #bfcbd9;
    overflow: hidden;
}

.natTOp {
  top: 45px;
  width: 100%;
  /* border-bottom: 1px solid #d0d0d0; */
}

.org .vux-popup-picker-select {
  text-align: center !important;
}

.vux-tab .vux-tab-item.vux-tab-selected {
  color: #FF0000 !important;
  /* border-bottom: 3px solid  #FF0000 !important; */
  border-bottom: none 0;
}

.vux-tab-ink-bar {
  /* background-color: #FF0000 !important; */
  background-color: transparent !important;
}

.style{
  width: 2em;
  height: 2em;
  vertical-align: -0.15em;
  fill: #bfcbd9;
  overflow: hidden;
}

.weui-tabbar__item.weui-bar__item_on .weui-tabbar__icon, .weui-tabbar__item.weui-bar__item_on .weui-tabbar__icon > i, .weui-tabbar__item.weui-bar__item_on .weui-tabbar__label {
  color: #FF0000 !important;
}

/* 内容区域 */
.content {
  background-color: #fff;
  width: 100%;
  height: 100%;
  margin-top: 80px;
}

.content h5 {
  font-size: 0.6rem;
  margin-bottom: 0.3rem;
}

.content li {
  font-size: 0.5rem;
  padding: 0.5rem;
  border-bottom: 1px solid #d0d0d0;
}

.imgscont {
  margin-top: 0.8rem;
}

.content li p {
  margin-top: 0.8rem;
}

.table {
  top: 60px;
  font-size: 0.5rem;
  background-color: #fff;
}

#homes {
  margin-bottom: 4rem;
}

.tablesth {
  width: 100%;
  position:fixed;
  background-color:#Fff;
  top:89px;
  z-index:999;
}

.tablesth tr {
  width: 100%;
}

.tablesth tr th {
  width: 100%;
}

